---
import type { Post } from "../../api/post";
import H2 from "../components/H2.astro";
import Article from "./Article.astro";
import Image from "../components/Image.astro";
import Button from "../components/Button.astro";

interface Props extends Post {}
const { slug, title, date, image, preview } = Astro.props
---

<div class="grid grid-cols-[2fr_1.5fr] md:grid-cols-[2fr_1fr] gap-2 border-b border-sky-200 pb-6">

    <Article class={ !image ? 'col-span-2' : ''}>

        <H2>
            <a href={`/blog/${slug}`} class="hover:underline">
                {title}
            </a>
        </H2>

        <p>
            { preview }
        </p>

        <p class="text-sm">
            {date.longPhrase}
        </p>

        <Button href={`/blog/${slug}`}>
            Read Post
        </Button>

    </Article>

    { image && (
        <Image 
            src={image.url} 
            width={image.width} 
            height={image.height} 
            alt=""
            role="presentation"
            class="w-full h-full object-cover" 
        />
    )}

</div>