---
import Main from "../components/Main.astro";
import Header from "../sections/Header.astro";
import '../css/main.css'
import Footer from "../sections/Footer.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title : string,
	slug? : string,
	preview? : string
}
const { title, slug, preview } = Astro.props
---

<html lang="en" transition:animate="none">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Lusitana:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<slot name="meta" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">

		<!-- HTML Meta Tags -->
		<title>{title}</title>
		<meta name="description" content={preview || 'LeftistJosh blog.'}>

		<!-- Open Graph Meta Tags -->
		<meta property="og:url" content={`https://leftistjosh.netlify.app/blog/${slug}`}>
		<meta property="og:type" content="website">
		<meta property="og:title" content={title}>
		<meta property="og:description" content={preview || 'LeftistJosh blog.'}>
		<meta property="og:image" content={`https://leftistjosh.netlify.app/open-graph/${slug}.png`}>

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="leftistjosh.netlify.app">
		<meta property="twitter:url" content={`https://leftistjosh.netlify.app/blog/${slug}`}>
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content={preview || 'LeftistJosh blog.'}>
		<meta name="twitter:image" content={`https://leftistjosh.netlify.app/open-graph/${slug}.png`}>

		<ViewTransitions />
	</head>
	
	<body class="font-[Open_Sans,Poppins,ui-sans-serif,system-ui,sans-serif] bg-sky-50/50">

		<Header />

		<Main>
			
            <slot />
        
        </Main>

		<Footer />
		
    </body>

</html>

<style is:global>
    @keyframes slide-up {
      0% {
        transform: translateY(200px);
      }
      100% {
        transform: translateY(0);
      }
    }
</style>